html {
    position: relative;
    min-height: 100%;
}

.progress {
    position: fixed;
    z-index: 1;
    bottom: 0;
}

.data-container {
    padding-top: 40px;
    padding-bottom: 40px;
}
/* display node  */

.node-graph {
    overflow-x: auto;
    width: 100%;
    color: #000000;
}

.node-graph thead {
    text-align: center;
    font-weight: bold;
}

.node-graph .node-graph__row {
    height: 50px;
    line-height: 40px;
    font-weight: bold;
    min-width: 100px;
    position: relative;
}

.node-graph .node-graph__row::after {
    content: "";
    width: 20px;
    border-top: 1px solid #000000;
    position: absolute;
    top: 20px;
}

.node-graph .node-graph__row_right::after {
    right: -20px;
}
.node-graph .node-graph__row_left::after {
    left: -40px;
}

.pagination {
    padding: 10px 10px 20px;
}

.navbar-item img {
    width: 112px;
    max-height: 40px;
    object-fit: contain;
}
