html {
    position: relative;
    min-height: 100%;
}

.progress {
    position: fixed;
    z-index: 1;
    bottom: 0;
}

.data-container {
    padding-top: 40px;
    padding-bottom: 40px;
}
/* display node  */

.node-graph {
    overflow-x: auto;
    width: 100%;
    color: #000000;
}

.node-graph thead {
    text-align: center;
    font-weight: bold;
}

.node-graph .node-graph__row {
    height: 85px;
    padding-top: 10px;
    font-weight: bold;
}

.node-graph canvas {
    min-width: 500px;
    display: inline-block;
}

.pagination {
    padding: 10px 10px 20px;
}

.navbar-item img {
    width: 112px;
    max-height: 40px;
    object-fit: contain;
}
