/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

.progress {
    position: absolute;
}

body > #app > .container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

/* display node  */

.node-graph {
    overflow-x: auto;
    width: 100%;
    color: #000000;
}

.node-graph thead {
    text-align: center;
    font-weight: bold;
}

.node-graph .output-val {
    height: 80px;
    padding-top: 10px;
    font-weight: bold;
}

.node-graph canvas {
    min-width: 500px;
    display: inline-block;
}

.pagination {
    padding: 10px 10px 20px;
}
